

<div class="layout">
    <div class="printHidden">
        <section class="section header">
            <h4> {{requests}} / 60</h4>
            <input placeholder="Github Username" [(ngModel)]="username" #ctrl="ngModel" required (change)="load()">
        </section>

    </div>

    <div *ngIf="isLoading" class="loadingContainer">
        <h1 style="color: red; text-align: center;">LOADING</h1>
    </div>

    <section *ngIf="user" class="section main">
        <div class="container">


            <div class="profileContainer">
                <!-- <img [src]="user.avatar_url"> -->
                <h1><span *ngIf="user.name">{{ user.name }} <br></span>
                    <span *ngIf="user.login">{{ "@" + user.login }}</span></h1>
            </div>



            <div class="languageContainer">
                <h3>Languages</h3>
                <div class="repo" *ngFor="let l of languages">
                    {{l}}
                    <!-- {{l.stargazers_count + " Stars |"}}
                    {{l.name}}
                    <a target="_blank" href="{{l.html_url}}">Open in Github</a>
                     -->
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="!user" class="section main">
        Enter a valid Github username.
    </section>
</div>


<style>
    .layout {
        font-family: "Arial";
        box-shadow: 0px 0px 10px 10px lightgray;
        max-width: 1200px;
        margin: 0 auto;
        overflow-x: hidden;
        display: grid;
        grid-template-areas: 'name name name name'
                             'jobtitle jobtitle jobtitle jobtitle'
                             'mail website website website'
                             'experience experience experience skills'
                             'experience experience experience strengths'
                             'experience experience experience hobbies';
    }

    .section {
        padding: 20px 0;
        width: 100%;
    }

    .header {
        background-color: #222;
        display: flex;
        justify-content: center;
        height: 50px;
    }

    .header h4 {
        color: white;
        margin: 0;
        line-height: 50px;
        width: 100%;
        margin-left: 20px;
    }

    .header input {
        min-width: 300px;
        width: 100%;
        border-radius: 10px;
        border: none;
        padding-left: 20px;
        font-size: 28px;
        transform: translateX(-50%);
    }

    .main {
        background-color: #ededed;
        display: flex;
        justify-content: center;
    }

    .container {
        width: 80%;
    }

    .profileContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-area: 'image name name name'
                   'image followers following repos';
        gap: 20px;
    }

    .profileContainer img {
        grid-column:  0/1;
        margin: 0 auto;
        border-radius: 50%;
        margin-left: 50%;
        transform: translateX(-50%);
        max-width: 200px;
    }

    .profileContainer h1 {
        margin: 0;
        grid-column:  2/4;
    }

    .repo {
        display: flex;
        justify-content: space-between;
    }
</style>